<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <h1 class="bg-dark text-center text-white">SpecialBirthdays</h1>
    <div>
        <p>
            Hello [User], hope you are doing well, SpecialBirthdays wants to remind you of people that have birthdays [numberOfdays] 
        </p>
        <p>
            You can get birthday messages to send <a class="btn btn-dark text-center" href="https://localhost:5031/messagestore">here</a>
        </p>
    </div>
    <div>
        <ol>
            [List Of Birhtdays]
        </ol>
    </div>
</body>
</html>