@page "/"

<section>
    <h1 class="text-center bg-white border border-pink rounded text-pink text-capitalize shadow mb-3"><b>Hello, welcome to SpecialBirthdays!</b></h1>

    <div class="container">
        <div class="col bg-white border border-pink rounded shadow mb-3">
            <h3 class="text-capitalize"><b>How it works</b></h3>
            <p>
                Our world today has become increasingly  distractive and there are a whole lot of stuff going around, and this might sometimes make us
                to forget really important things in our lives, like a family or loved one birthday, so what this little tool does is, it helps you
                keep track of these special birthdays. You register and have an account then you put in the person's/persons' birthday you want us to remeber
                for you, and we notifiy you along the way, it is that simple!!
            </p>
        </div>

        <div class="col bg-white border border-pink text-pink rounded shadow mb-3">
            <h3 class="text-capitalize"><b>Birthday Messages</b></h3>
            <p>
                This little tool also has a repository of birthday messages where you just click, and it provides you
                a set of birthday messages and you choose the one you like the most.You can get started by clicking <a href="/messagestore">here</a>
            </p>
        </div>

        <div class="col bg-white border border-pink text-pink rounded shadow mb-3">
            <p><i>PS: I will like to point out that the developer of this tool is not the author of these messages, they were all gotten from the internet</i></p>
        </div>

    </div>
</section>