@page "/updatebirthday/{id}"

<h2 class="text-center bg-white border border-pink rounded text-pink text-capitalize shadow mb-3">Update Birthday</h2>

@if (person != null)
{
    <EditForm Model="person" OnValidSubmit="Update" class="card card-body bg-light mt-5">
        <DataAnnotationsValidator />
        <div class="form-group row">
            <ValidationMessage For="@(() => person.Name)" />
            <label for="name" class="col-md-2 col-form-label">Name:</label>
            <div class="col-md-10">
                <InputText id="name" class="form-control" @bind-Value="person.Name" />
            </div>
        </div>

        <div class="form-group row">
            <ValidationMessage For="@(() => person.BirthDay)" />
            <label for="supplier" class="col-md-2 col-form-label">Birthday:</label>
            <div class="col-md-10">
                <InputDate id="supplier" class="form-control" @bind-Value="person.BirthDay" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </div>
    </EditForm>
    <SuccessNotification @ref="successNotification" />
}